
  <div class="col-md-6 mx-auto mt-5">
  <h1>ようこそ <strong>ラーメン通へ</strong>  !!</span></h1>
  <p>In  <span class="glyphicon glyphicon-book"></span><strong>RamenParty</strong>, </p>
  <p>このサイトは、ラーメン屋さんを探したり共有できるサイトです。</br>
     会員でない方も投稿の閲覧はできますが投稿、コメントには会員登録が必要になります。</p>
  <div class="row">
   <p class="ml-3"><a class="btn btn-info" href="/users/sign_in">ログイン</a></p>
   <p class="ml-3"><a class="btn btn-success" href="/users/sign_up">新規登録</a></p>
  </div>
</div>